doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(
        rel="stylesheet",
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    )
    style.
        body {
            background-color: #f3fde8;
            margin: 0;
        }

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #a8df8e;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 54px;
        }

        .navbar > li > a {
            padding: 14px 16px;
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
        }

        .navbar > li > .dropdown > button {
            font-size: 1.2rem;
        }

    link(rel="stylesheet", href="index.css")
    script(src="index.js")
body
    ul.navbar
        li
            a(href="index.html") Home
        li
            a(href="about.html") About
        li
            .dropdown
                button.btn.dropdown-toggle(
                    type="button",
                    data-bs-toggle="dropdown",
                    aria-expanded="false"
                ) Labwork 1
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="labwork_1/task1.html") Task 1
                    li
                        a.dropdown-item(href="labwork_1/task2.html") Task 2
                    li
                        a.dropdown-item(href="labwork_1/task3.html") Task 3
                    li
                        a.dropdown-item(href="labwork_1/task4.html") Task 4
                    li
                        a.dropdown-item(href="labwork_1/task5.html") Task 5
                    li
                        a.dropdown-item(href="labwork_1/task6.html") Task 6
                    li
                        a.dropdown-item(href="labwork_1/task7.html") Task 7
                    li
                        a.dropdown-item(href="labwork_1/task8.html") Task 8
                    li
                        a.dropdown-item(href="labwork_1/task9.html") Task 9
                    li
                        a.dropdown-item(href="labwork_1/task10.html") Task 10
                    li
                        a.dropdown-item(href="labwork_1/task11.html") Task 11
        li
            .dropdown
                button.btn.dropdown-toggle(
                    type="button",
                    data-bs-toggle="dropdown",
                    aria-expanded="false"
                ) Labwork 2
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="labwork_2/task2.html") Task 2
                    li
                        a.dropdown-item(href="labwork_2/task4.html") Task 4
                    li
                        a.dropdown-item(href="labwork_2/task5.html") Task 5
                    li
                        a.dropdown-item(href="labwork_2/task6.html") Task 6
                    li
                        a.dropdown-item(href="labwork_2/task7.html") Task 7
                    li
                        a.dropdown-item(href="labwork_2/task8.html") Task 8
                    li
                        a.dropdown-item(href="labwork_2/task9.html") Task 9

    // Slideshow container
    .slideshow-container
        // Full-width images with number and caption text
        .mySlides.fade
            a(href="labwork_1/task1.html")
                img(src="labs/lab1.png", style="width:100%")
        .mySlides.fade
            a(href="labwork_2/task2.html")
                img(src="labs/lab2.png", style="width:100%")
        .mySlides.fade
            a(href="labwork_1/task1.html")
                img(src="labs/lab3.png", style="width:100%")

    // Next and previous buttons
    a.prev(onclick="plusSlides(-1)") &#10094;
    a.next(onclick="plusSlides(1)") &#10095;

    br

    // The dots/circles
    div(style="text-align: center")
        each dotNumber in [1, 2, 3]
            span.dot(onclick=`currentSlide(${dotNumber})`)

    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            document.querySelector(".active").click();
        });
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")
